<h1>All Existing products</h1>

  <div *ngFor="let user of allProduct">
      <div class="card" style="width: 18rem;" >
          <img style="height:250px;" src="data:image/png;base64,{{ user.imageByte }}" alt="product image"/>
          <div class="card-body">
              <p>docId: {{user.docId}}</p>
              <p>Username of product owner: {{user.username}}</p>
              <p>productName: {{user.productName}}</p>
              <p>productDescription: {{user.productDescription}}</p>
              <p>verificationId: {{user.verificationId}}</p>
              <p>category: {{user.category}}</p>
              <p>averageRating: {{user.averageRating}}</p>
              <p>specification: {{user.specification}}</p>
            
              <button (click)="editProduct(user)" type="button" class="btn btn-warning">Update</button>
              <br><br><button (click)="deleteProduct(user)" type="button" class="btn btn-danger">Delete</button>
          
          </div>
          
        </div>

    <hr>
  </div>
