<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Register Form</h2>
                    <h3>Welcome to </h3>
                    <h4>ReviewBook</h4>
                </div>
            </div>
            
            <div class="col-md-9">
                <form [formGroup]="userform">
                    <!-- {{userform.value | json}} -->

                    <div class="form-group">
                      <label class="control-label col-sm-2" > UserName:</label>
                      <div class="col-sm-10">          
                        <input type="text" [class.is-invalid]="userform.get('username').invalid
                        && userform.get('username').touched" formControlName="username"
                         class="form-control"  placeholder="Enter Your Username" >
                       <!--- <small [class.d-none]="userform.get('username').valid
                        || userform.get('username').untouched" class="test-danger">username required</small>-->
                        <div *ngIf="userform.get('username').invalid
                        && userform.get('username').touched">
                        <small *ngIf="userform.get('username').errors?.required" class="text-danger">username required</small>
                        <small *ngIf="userform.get('username').errors?.minLength" class="text-danger">username should be min 5 characters</small>
                        
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-2" >Password:</label>
                      <div class="col-sm-10">          
                        <input type="password" [class.is-invalid]="userform.get('password').invalid
                        && userform.get('password').touched" formControlName="password" class="form-control"  placeholder="Enter Your password" >
                        <div *ngIf="userform.get('password').invalid
                        && userform.get('password').touched">
                        <small *ngIf="userform.get('password').errors?.required" class="text-danger">password required</small>
                        
                        
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="control-label col-sm-2" >Email:</label>
                      <div class="col-sm-10">
                        <input type="email" [class.is-invalid]="userform.get('emailId').invalid
                        && (userform.get('emailId').touched || userform.get('emailId').dirty )" formControlName="emailId" class="form-control"  placeholder="Enter your Email">
                        <div *ngIf="userform.get('emailId').invalid
                        && (userform.get('emailId').touched || userform.get('emailId').dirty )">
                        <small *ngIf="userform.get('emailId').errors?.required" class="text-danger">Email required</small>
                        <small *ngIf="userform.get('emailId').errors?.pattern" class="text-danger">Enter a valid emailId id</small>
                        
                        </div>
                      </div>
                    </div>

                    <div class="owner">
                        <input (click)="toggleShow()" type="checkbox" formControlName="role" class="check">
                        <label class="product">Are You a Product Owner?</label>
                        </div>
                    

                    <div *ngIf="isShown" class="form-group">

                    <div class="form-group">
                        <label class="control-label col-sm-2" >OrganisationName:</label>
                        <div class="col-sm-10">
                          <input type="text" [class.is-invalid]="userform.get('organisationName').invalid
                          && userform.get('organisationName').touched" formControlName="organisationName" class="form-control"  placeholder="Enter Your organisationName" >
                          <div *ngIf="userform.get('organisationName').invalid
                        && userform.get('organisationName').touched">
                        <small *ngIf="userform.get('organisationName').errors?.required" class="text-danger">organisationName required</small>
                       
                        
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" >GstIN:</label>
                        <div class="col-sm-10">
                          <input type="text"[class.is-invalid]="userform.get('gstIN').invalid
                          && userform.get('gstIN').touched" formControlName="gstIN" class="form-control"  placeholder="Enter Your GST Number" >
                          <div *ngIf="userform.get('gstIN').invalid
                        && (userform.get('gstIN').touched || userform.get('emailId').dirty )">
                        <small *ngIf="userform.get('gstIN').errors?.required" class="text-danger">gstIN required</small>
                        <small *ngIf="userform.get('gstIN').errors?.pattern" class="text-danger">Enter a valid gst id</small>
                        
                        
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" >Location:</label>
                        <div class="col-sm-10">
                          <input type="text" [class.is-invalid]="userform.get('location').invalid
                          && userform.get('location').touched" formControlName="location" class="form-control"  placeholder="Enter Your location" >
                          <div *ngIf="userform.get('location').invalid
                        && userform.get('location').touched ">
                        <small *ngIf="userform.get('location').errors?.required" class="text-danger">location required</small>
                        
                        
                        </div>
                        </div>
                    </div>
                    </div>
                   
                    <div class="text-center ">
                      <p class="small fw-bold mt-2 pt-1 mb-0">Already have a account? <a [routerLink]="['/login']"
                          class="link-danger">Login</a></p>
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button  type="submit" (click)="saveForm()" [routerLink]="['/login']"  class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                </form>

            </div>
            
        
        </div>
    </div>
    
</body>
</html>
