<header [products]="topReviewedProducts"></header>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="All Products">
        <products [products]="items"></products>
    </mat-tab>
    <mat-tab label="Top Rated Products">
      {{this.rowData}}
        <div style="overflow:auto; margin:1vw">
            <ag-grid-angular style="width: 95vw; height: 75vh;" class="ag-theme-alpine" [rowData]="rowData"
              [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
              [paginationAutoPageSize]="true" [pagination]="true" (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
          </div>
    </mat-tab>
</mat-tab-group>