<section id="addNewProduct">
    <div class="dark-overlay">
        <div class="row background">
            <div class="col-sm-8 offset-sm-2">

                <form class="p-5" [formGroup]="productForm" (submit)="onSubmit()">

                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center">
                            <h3 class="pt-0 pb-1" style="font-size: larger;">Enter Product Details</h3>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label for="productName">Name</label>
                        <div *ngIf="!productForm.get('productName').valid && productForm.get('productName').touched"
                            style="font-size: small; color: red;">Invalid input..!</div>
                        <input type="text" class="form-control" id="productName" placeholder="Product Name . . ."
                            formControlName="productName">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="productDescription">Description</label>
                        <div *ngIf="!productForm.get('productDescription').valid && productForm.get('productDescription').touched"
                            style="font-size: small; color: red;">Invalid input..!</div>
                        <textarea type="text" class="form-control" id="productDescription"
                            placeholder="Product Description . . ." formControlName="productDescription"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="verificationId">Verification Id</label>
                        <div *ngIf="!productForm.get('verificationId').valid && productForm.get('verificationId').touched"
                            style="font-size: small; color: red;">Invalid input..!</div>
                        <input type="text" class="form-control" id="verificationId"
                            placeholder="Product Verification Id . . ." formControlName="verificationId">
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="category">Category</label>
                            <select id="inputState" class="form-control" formControlName="category">
                                <option *ngFor="let category of categories">{{ category }}</option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="row" formArrayName="specifications">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm mb-2"
                                (click)="onAddSpecifications()">Add Specification</button>
                            <div
                                *ngFor="let specsControl of productForm.get('specifications')['controls']; let i = index">
                                <div class="row">
                                    <div class="input-group mt-2">
                                        <input type="text" class="form-control" placeholder="Specification . . ."
                                            [formControlName]="i">
                                        <div class="input-group-prepend">
                                            <button type="button" class="input-group-text"
                                                style="background-color:tomato; color: white;"
                                                (click)="onDeleteSpecifications(i)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="productImage">Upload Image</label>
                        <input type="file" accept="image/*" class="form-control" id="productImage"
                            (change)="fileChangeEvent($event)">
                    </div>

                    <div class="form-group" *ngIf="uploadedImage">
                        <br>
                        <label>Image Preview</label>
                        <br>
                        <img [src]="uploadedImage" style="max-width: 50vw; max-height: 50vh;">
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-block mx-1"
                                [disabled]="!productForm.valid">Submit Product</button>
                            <button type="button" class="btn btn-primary btn-block mx-1"
                                (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>