<div class="container"><br>
  <h2>Account: {{username | titlecase}}</h2>
  <div class="products">
    <div class="product" *ngFor="let user of currentUserProductDetails | paginate: { itemsPerPage: 12, currentPage: page }">
      <mat-card>
        <p class="heading"><strong>{{user.productName | titlecase}}</strong></p>
        <p class="heading">{{user.category | titlecase}}</p>
        <img class="card-img-top" src="data:image/png;base64,{{ user.imageByte }}" alt="product image" />
        <p class="details">product Description: {{user.description }}</p>
        <p class="details">Product Verification Id: {{user.verificationId}}</p>
        <div class="details">Product Specifications: <span class="specs">
            <ul>
              <li *ngFor="let specs of user.specs">{{specs}}</li>
            </ul>
          </span>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-success btn-block mx-1" (click)="openProductUpdateDialog(user)">Update
              Product</button>
            <button type="button" class="btn btn-secondary btn-block mx-1" (click)="deleteProduct(user)">Delete</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="pagination-content">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>