<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="data:image/png;base64,{{products[0].imageByte}}" class="d-block w-100" 
        (click)="onClickImg(products[0])">
      </div>
      <div class="carousel-item" *ngFor="let item of products.slice(1)">
        <img src="data:image/png;base64,{{item.imageByte}}"
        alt="Card image cap" class="d-block w-100" (click)="onClickImg(item)">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->