<mat-divider></mat-divider>
<div class="products">
  <div class="product" *ngFor="let item of products">
    <mat-card (click)="getReview(item.productId)">
      <p><strong>{{item.productName | titlecase}}</strong></p>
      <p>{{item.category | titlecase}}</p>
      <img class="card-img-top" src="data:image/png;base64,{{ item.imageByte }}" alt="Card image cap" />
      <div class="rating">
        <mat-icon color="primary" *ngFor="let num of rating">
          {{showIcon(item.averageRating, num)}}
        </mat-icon>
      </div>
    </mat-card>
  </div>
</div>