<mat-card class="profile">
  <div style="display:flex; justify-content: center; align-items: center;">
    <div>
      <div class="mat-h1">
        Edit Profile
      </div>
      <div class="mat-h2">
        Personal info:
      </div>
      <div class="form-horizontal" role="form" [formGroup]="editProfile">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>UserName</mat-label>
            <input readonly="true" matInput placeholder="Enter UserName" formControlName="username">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>UserName should be unique</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input disabled matInput placeholder="deepak@reviewbook.com" formControlName="emailId" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="this.editProfile.get('emailId').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div *ngIf="editProfile.value.role=='Product owner'" style="display: flex; flex-direction: row; flex-wrap:wrap">
          <div style="padding-right:5px;">
            <mat-form-field appearance="fill">
              <mat-label>OrganisationName</mat-label>
              <input disabled matInput placeholder="Enter OrganisationName" formControlName="organisationName">
              <mat-icon matSuffix>business</mat-icon>
            </mat-form-field>
          </div>
          <div style="padding-right:5px;">
            <mat-form-field appearance="fill">
              <mat-label>GstIN</mat-label>
              <input disabled matInput placeholder="Enter GstIN" formControlName="gstIN">
              <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <input disabled matInput placeholder="Enter UserName" formControlName="location">
              <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group" id="wrapper">
          <div class="col-md-8">
            <button mat-raised-button Style="margin-right: 10px;" (click)="updateProfile()"> Save
              Changes</button>
            <button type="button" *ngIf="editProfile.value.role=='Product owner'" mat-stroked-button
              [routerLink]="['/products']">My Products</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>