<div style="text-align: center; padding: auto; margin: auto;">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <!-- Username input -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter a valid username" name="username" formControlName="username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>
    <!-- Password input -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary">Login</button>
      <mat-error *ngIf="isLogedinError">
        Either username or password is incorrect
      </mat-error>
    </div>
    <div>
      <br>
      Don't have an account?
      <a mat-stroked-button [routerLink]="['/register']" color="accent">Register</a>
    </div>
  </form>
</div>