<div class="footer">
    <mat-card>
      <div class="move">
        <marquee direction="left" height="100%" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
          <p>
            <i style=" background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171));
    -webkit-text-fill-color: transparent; -webkit-background-clip: text;">
              Hey there! I'm Deepak. It's great to see you here! Thanking you..</i>
          </p>
        </marquee>
      </div>
  
      <div class="footer-picture">
        <div>
          <a href="https://goo.gl/maps/WQ7mi944UBfRMpG87" target="_blank">
            <mat-icon> place </mat-icon>
          </a>
        </div>
        <div style="margin-left: 75px">
          <a href="mailto:dkmiitg@gmail.com">
            <mat-icon> email </mat-icon>
          </a>
        </div>
        <div>
          <a href="https://github.com/deepak-mandal" target="_blank">
            <mat-icon> github </mat-icon>
          </a>
        </div>
      </div>
      <div style="text-align: center ;">
        <mat-card-subtitle>
          &copy; 2020 - 2022
          <b
            style="text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">
            Deepak</b>. For queries contact <a href="mailto:dkmiitg@gmail.com"><b
              style="text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">dkm.iitg@gmail.com</b></a>
        </mat-card-subtitle>
      </div>
    </mat-card>
  </div>