<!DOCTYPE html>
<html lang="en">

<body>
    <section class="header">
        
        <img src="../../../../../assets/Logo.png" alt="">
        <button  routerLink="/login" class="btm" style="float:right;">Login</button>&nbsp;
        <!-- <button  routerLink="/registration" class="btm" style="float:right;">Sign Up</button> -->
        <button  routerLink="/register" class="btm" style="float:right;">Sign Up</button>
                
        <div class="text-box">
            <h1>ReviewBook</h1>

        </div>

    </section>

    <section class="profile">
        <br>
        <h1>About</h1>


        <div class="row">
            <div class="profile-col">
                <h3>Point 1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis praesentium quia culpa
                    assumenda consectetur quisquam voluptatem eos doloribus optio at quas, quos ex alias rem accusantium
                    sunt animi ullam excepturi ducimus reprehenderit. Laborum sit, odit vero accusantium, natus
                    accusamus nam minima deserunt obcaecati quibusdam ea eveniet necessitatibus quia eaque! Quaerat
                    consectetur ad quos nam unde necessitatibus eligendi perspiciatis quidem corporis iusto! Voluptates
                    nulla mollitia animi.
                </p>
            </div>
            <div class="profile-col">
                <h3>Point 2</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae facilis tenetur quisquam veritatis a
                    ratione, laboriosam nulla sed, aperiam quod modi commodi ipsam in est nostrum reprehenderit at
                    repudiandae beatae ea harum non. Quam commodi quae doloribus qui! Sed, blanditiis quos?
                    Exercitationem, sint! Sit sed veritatis nobis incidunt beatae veniam a! Eum iure dicta, accusamus
                    corporis alias dolor enim, quidem quibusdam similique facere voluptates ullam!
                </p>
            </div>
            <div class="profile-col">
                <h3>Point 3</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus debitis nisi eaque porro
                    explicabo veniam dolores vel optio tenetur a! Tenetur ab natus iure eaque laudantium commodi laborum
                    pariatur facere mollitia delectus repellendus inventore quia sit distinctio, vero numquam officia
                    nemo eius illum nobis modi ratione deleniti. Quam incidunt mollitia neque excepturi quibusdam
                    inventore non ratione fugiat rem blanditiis. Nihil veniam nulla blanditiis rerum iusto!
                </p>
            </div>
        </div>

    </section>

    <section class="tourist">
        <h1>Features</h1>

        <div class="row">
            <div class="tourist-col">
                <img src="assets\Rate.png" alt="">
                <div class="layer">
                    <h3>
                        Rate
                        <p>As a user you can give rating to any of the product that you want
                            to.ReviewBook is the most trusted review site for business technology
        </p>
                    </h3>
                </div>
            </div>
            <div class="tourist-col">
                <img src="assets\Recommend.png" alt="">
                <div class="layer">
                    <h3>
                        Recommend
                        <p>Recommend Product to your friends</p>
                    </h3>
                </div>
            </div>
            <div class="tourist-col">
                <img src="assets\Review.png" alt="">
                <div class="layer">
                    <h3>
                        Review
                        <p>Our review process results in more depth, detail, and balance than other sites.Every review is verified.</p>
                    </h3>
                </div>
            </div>
        </div>



    </section>
    <footer>
        <h3>©Copyrights
            <p>All right Reserved to ReviewBook.com</p>
        </h3>
    </footer>


</body>


</html>
