
<main id="main-div">
    <article class="left-side">
      <section class="product-name">
        <h2 class="name"><strong>{{product.productName | titlecase}}</strong></h2>
      </section>
      <section class="image">
        <img class="card-img-top" src="data:image/png;base64,{{ product.imageByte }}" alt="Card image cap" />
      </section>
      <section class="star-rating">
        <div class="rating-border" *ngIf="!product.ratedUsernames.includes(getUserName())">
          <button mat-icon-button [disabled]="hasRated" *ngFor="let i of ratingArr" (click)="onClick(i+1)">
            <mat-icon color="primary">
              {{showIcon(i)}}
            </mat-icon>
          </button>
        </div>
        <div class="rating-border" matTooltip="You've already rated!!" style="pointer-events: all"
          *ngIf="product.ratedUsernames.includes(getUserName())">
          <button mat-icon-button disabled *ngFor="let i of ratingArr" (click)="onClick(i+1)">
            <mat-icon color="primary">
              {{showIcon(i)}}
            </mat-icon>
          </button>
        </div>
        <div class="progress-bar-div">
          <mat-progress-spinner class="example-margin" [value]="product.averageRating * 20">
          </mat-progress-spinner>
          <div class="rating-text">{{product.averageRating}}/5</div>
        </div>
  
  
      </section>
      <h3><strong>Specifications:</strong></h3>
      <section class="specs">
        <mat-card *ngFor="let specs of product.specs">
          <p>{{specs}}</p>
        </mat-card>
        <!-- <ul>
          <li *ngFor="let specs of product.specs">{{specs}}</li>
        </ul> -->
      </section>
      <h3><strong>Description:</strong></h3>
      <section class="description">
        <div>
          <p>{{product.description}}</p>
        </div>
      </section>
    </article>
  
    <article class="right-side">
      <div class="give-review">
        <button type="button" class="btn btn-primary" id="give-review" data-bs-toggle="modal"
          data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Give Review</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <form [formGroup]="userform">
                  <p>UserName: {{user}}</p>
                  <p>Date:{{todayNumber | date}}</p>
                  <p>ProductId: {{productId}}</p>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Write a review:</label>
                    <textarea class="form-control" rows="10" formControlName="text"></textarea>
                  </div>
               
              <div class="form-group">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button"  class="btn btn-primary" 
                   [disabled]="!userform.valid" data-bs-dismiss="modal"
                    (click)="saveForm()">Send review</button>
                </div>
              </div>
            </form>
          </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="get-review">
        <h1>Reviews:</h1>
        <div class="get-review-div" style="overflow-y: scroll; height:600px; width:100%;">
          <div *ngFor="let review of allreviews">
            <div class="card" style="width: 90%;">
              <div class="card-body">
                <!-- <p>ProductId: {{review.productId}}</p> -->
                <p>UserName: {{review.userName}}</p>
                <p>Date: {{review.date}}</p>
                <p>Review:</p>
                <textarea disabled rows="3" style="width:90%;"> {{review.text}}</textarea>
                <!-- <br>
                <button class="Likebtn"  (click)="like()">Like</button>
                <button class="Likebtn" *ngIf ="liked(review)===false" (click)="unlike()">Unlike</button>
                <p >{{review.likeCount}} Likes</p> -->
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
  
    </article>
  </main>