<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" 
    type="button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span [routerLink]="['']">ReviewBook</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="profile" *ngIf="authService.isLoggedIn$ | async">Profile</button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="edit_profile">Manage Profile</button>
      <button mat-menu-item [matMenuTriggerFor]="my_products" *ngIf="isProductOwner">Manage Products</button>
    </mat-menu>
    <mat-menu #edit_profile="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">Edit Profile</button>
      <button mat-menu-item [matMenuTriggerFor]="other">other</button>
    </mat-menu>
    <mat-menu #my_products="matMenu">
      <button (click)="addProduct()" mat-menu-item><mat-icon>favorite</mat-icon>Add new
        Product</button>
      <button mat-menu-item [routerLink]="['/products']">View own Products</button>
    </mat-menu>
    <mat-menu #other="matMenu">
      <button mat-menu-item (click)="logout()">Login with another acount</button>
    </mat-menu>
    <button (click)="logout()" type="submit" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button *ngIf="!authService.isLoggedIn$ | async"
     [routerLink]="['/login']" type="submit" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
  
        <a 
      [routerLink]="['/info']">
<mat-card>Product Information</mat-card>
    </a>
    
      <mat-divider></mat-divider>
  <a 
  [routerLink]="['/products']">
<mat-card>My Products</mat-card>
    </a>
  <mat-divider></mat-divider>
  <a 
  [routerLink]="['/profile']">
 <mat-card> My Profile</mat-card>
  </a>
<mat-divider></mat-divider>
    </mat-drawer>
  
    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
    <!-- <app-dashboard></app-dashboard> -->
    <router-outlet></router-outlet>
  
  </mat-drawer-container>
</div>