<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span [routerLink]="['/dashboard']">ReviewBook</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="profile">Profile</button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="edit_profile">Manage Profile</button>
      <button mat-menu-item [matMenuTriggerFor]="my_products" *ngIf="isProductOwner">Manage Products</button>
    </mat-menu>
    <mat-menu #edit_profile="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">Edit Profile</button>
      <button mat-menu-item [matMenuTriggerFor]="other">other</button>
    </mat-menu>
    <mat-menu #my_products="matMenu">
      <button (click)="addProduct()" mat-menu-item><mat-icon>favorite</mat-icon>Add new
        Product</button>
      <button mat-menu-item [routerLink]="['/products']">View own Products</button>
    </mat-menu>
    <mat-menu #other="matMenu">
      <button mat-menu-item (click)="logout()">Login with another acount</button>
    </mat-menu>
    <button style="padding:1px; margin:1px" (click)="logout()" type="submit" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</div>